body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color: "WhiteSmoke";

}

.App {
  text-align: center;

}

.well {
  background-color: rgb(22, 105, 173);
  text-align: center;
}

.room-img{
  max-width: 300px;
}

.detail-img{
  width: 100%;
  padding: 2%;
}



.flex-container{
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: stretch;
  align-content: center;
  height: auto;
}
.select {
  color: White;
}

.select:hover {
  color: White;
}

.login-form {
  max-width: 500px;
}

.exp {
  width: 50%;
}


.about:hover{
  text-decoration: none;
}

.about{
  margin: 2%;
}

.select:hover{
  text-decoration: none;
}

Datepicker {
  max-width: 400px;
  width: 100%;
}

.tab-content {
  max-width: 500px;
  text-align: center;
}

PageHeader.page {
  max-width: 700px;
  margin: 0 auto;
}

.detail {
  max-width: 700px;
}

/*select.guest-num {
  width: 70%;
  margin: 0 auto;
}*/

input {
  margin: 0 auto;
}

option {
  text-align: center;
}

.room-form {
  margin: 0 auto;
  max-width: 150px;
}
